:root {
  /*BACKGROUNDS*/
  --background: white;
  --foreground: #171717;
  --bg-header: white;
  --bg-button-primary:#EB2B2B;
  --bg-button-segundary:#7A0000;
  /*COLORS*/
  --color-text-primary:black;
  --color-text-segundary:white;
  --color-title-primary: white;
  --color-title-segudary:black;
  --color-subTitle-primary:#7D0000;
  --color-content-Inicio-primary:#D9D1D1;

}


html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}