

.fundo {
    background-image: url(imagem/fundo_inicial_dekstop.png);
}

.header {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 4px 2px 6px 2px rgba(0, 0, 0, 0.633);
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    width: 100%;
}

.boasvindas {
    height: 78vh;
    background-size: cover;
    background-position: top left;

}

.headerh1 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.388); 
    padding: 20px;
    font-size: 45px;
    font-weight: bolder;
}

.paragrafo{
    color: brown;
}
.spans {
    color: white;
}

.main{
    
    margin-top: 7em;
}
@media (max-width: 768px) {
    .header{
        background: #000;
        border-radius: 0 0 0 60px;
    }
}