
.style.header {
    background-color: red;
    display: flex;
    flex-flow: row nowrap;
}

.style.nav {
    color: green;
    text-decoration: none;
}

.paragrafo{
    color: brown;
}
.spans {
    color: white;
}